* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;

}

.hide-resize-observer {
  display: none !important;
}

.card-book {
  &.card-book-checkbody .ant-card-body {
    visibility: hidden;
  }
  .ant-card-cover {
    height: 70%;
  }
  position: relative;
  .overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .ant-row {
    opacity: 0;
    height: 0;
  }
  &:hover {
    img {
      filter: blur(2px);
    }
    .ant-row {
      opacity: 1;
      visibility: visible;
      transition: 0.5s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .overlay {
      opacity: 0.4;
      border-radius: 8px;
      visibility: visible;
      background-color: black;
    }
  }
}

/* Custom styles for Carousel dots */
.ant-carousel .slick-dots {
  position: absolute;
  bottom: -23px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.ant-carousel .slick-dots li {
  margin: 0 4px;
}

.ant-carousel .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #1890ff;
}

.home-page-search_book {
  .ant-col-6 {
    margin-inline-start: 0% !important;
    text-align: start !important;
  }
}

