/* @tailwind base;   */
@tailwind components;
@tailwind utilities;


.login-form {
  max-width: 400px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-page {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.zoomable-item:hover {
  transform: scale(1.01);
}